body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslateblue;
    margin: 5em 0 4em;
}

nav {
    background-color: darkslateblue;
    width: 100%;
    height: 3em;
    line-height: 3em;
    position: fixed;
    top: 0;
}

nav a {
    color: #fff;
    padding-left: 2em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media screen {
    h2 {
        border: 1px solid;
        padding: .2em;
    }
}

@media print {
    p {
        text-align: center;
    }
}