body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
    font-variant: small-caps;
}

p {
    text-align: right;
}

#precio {
    font-weight: bold;
    text-decoration: underline;
}

.informacion-erronea {
    color: darkgray;
    text-decoration: line-through;
}

.destacado {
    color: rebeccapurple;
    text-transform: uppercase;
}

h3.destacado {
    text-decoration: underline;
    font-family: Impact, sans-serif;
}