#header {
  margin: 0;
  padding: 1rem;
  border: 0;
  color: #448;
  background-color: #ccc;
}
#header .header {
  margin: auto;
  padding: 0.25rem;
  border: 0;
}
#header .button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.unstyled,
#header .header *,
#header .slide {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.rounded {
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
}
